// AVERAGE SESSIONS GRAPH
.sessionAverageGraph {
  background-color: $primaryColor;
  border-radius: 5px;

  &__legend {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    padding: 30px;
    opacity: 0.5;
    color: white;
    line-height: 24px;
  }

  &__label {
    position: absolute;
    color: white;
    opacity: 0.5;
    top: 525px;
    left: 245px;
    width: 245px;
    letter-spacing: 10px;
  }

  &__tooltip {
    background-color: white;
  }

  &__value {
    color: black;
    font-size: 10px;
    padding: 10px;
  }
}

// PERFORMANCE GRAPH
.performanceGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 263px;
  background-color: #282d30;
  border-radius: 5px;

  .recharts-polar-grid-angle {
    display: none;
  }

  tspan {
    rotate: -20;
  }
}
